{:kotoba.app/id "cloud.itonami.isic-6391", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie4vy4mr5ryclkwl7mujcr7ecnkfwytsttam6ikbfye3x4kqv5k5e", :kotoba.app/embed-url "ipfs://bafkreie4vy4mr5ryclkwl7mujcr7ecnkfwytsttam6ikbfye3x4kqv5k5e", :published {:archive "https://kotobase.net/ipfs/bafkreie4vy4mr5ryclkwl7mujcr7ecnkfwytsttam6ikbfye3x4kqv5k5e", :size 5078, :put-status 201, :get-status 200, :at "2026-08-15T13:51:21.664Z"}}
